header.page-header
	h3.title Contacts
.page-body
	.files
		dl
			dt.files-head
				ul
					li.name NAME
					li.number NUMBER
			each item in data
				dd.file
					ul
						li.name
							a(href="/detail/" + item.id)= item.name
						li.number= item.number
