header.page-header
	h3.title.title2 Contacts
	a.btn-left.back-btn(href="/" data-rel="back")
	a.btn-right(href="javascript:;" data-href="/edit/" + data.id) Edit
.page-body
	.file-detail
		ul
			li.head NAME
			li.body= data.name
		ul
			li.head NUMBER
			li.body= data.number