header.page-header
	h3.title.title2 详情页
	a.back-btn(href="/" data-rel="back")
.page-body
	.file-detail
		ul
			li.head ID :
			li.body= data.id
		ul
			li.head NAME :
			li.body= data.name
		ul
			li.head SIZE :
			li.body= data.size